{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block page_content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


<h1>Contact</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.contact_voornaam|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.contact_achternaam|as_crispy_field }}
      </div>
    </div>
    {{ form.contact_email|as_crispy_field }}
    {{ form.content|as_crispy_field }}
    <button type="submit" class="btn btn-success">Verstuur</button>
</form>


{% endblock %}