{% extends "base.html" %}
{% block page_content %}
<br><br><br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<script>
    $('.select2').select2();
</script>
{% if projects %}
<div class="row">
{% for project in projects %}

    
    <div class="col-md-4">
            <a href="{% url 'project_detail' project.pk %}">
                    
            <div class="card-body">
                {% for img in project.images.all %}
                    {% if forloop.first %}            
            <div class="zoom">

                <img class ="card-img-top" src = "{{ img.image.url }}" alt = "Profile Picture" />

                  <div class="middle">
                    <div class="text">{{project.titel}}</div>
                  </div>
                    {% endif %}
                {% endfor %}            
            </div>
                </a>
            </div>
            
            </a>

    </div>


    {% endfor %}
</div>
{% else %}
<div class="container">
	<div class="row">
    	<div class="card m-auto" >
        	<div class="card-body mt-2 mb-2">
            	<h2 class="card-title">
                	Geen resultaat
                </h2>
            	<p class="card-text">Er zijn geen resultaten gevonden voor: "{{query}}".</p>
            </div>
    	 </div>

 	</div>
</div>
{% endif %}
{% endblock %}
